In [ ]:
#1.Create a dictionary of 5 students with roll numbers as keys and names as values.

students = {
 101: "Neha",
 102: "Meena",
 103: "Raj",
 104: "Riya",
 105: "Eva"
}
print("Students Dictionary:", students)

Students Dictionary: {101: 'Neha', 102: 'Meena', 103: 'Raj', 104: 'Riya', 105: 'Eva'}

In [ ]:
#2.Write a Python program to count the frequency of each character in a string using a dictionary.
string = "hello world"
freq = {}
for char in string:
  freq[char] = freq.get(char, 0) + 1
print("Character Frequency:", freq)

Character Frequency: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
#3.Given a dictionary employee = {'John': 50000, 'Anna': 65000, 'Mike': 45000}, increase each employeeâ€™s salary by 10%
employees = {"John": 50000, "Anna": 65000, "Mike": 45000}
updated = {k: v + v*0.10 for k, v in employees.items()}
print("Updated Salaries:", updated)

Updated Salaries: {'John': 55000.0, 'Anna': 71500.0, 'Mike': 49500.0}

In [ ]:
#4.Write a Python script to merge two dictionaries.


dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged = {**dict1, **dict2}
print("Merged Dictionary:", merged)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#5.Write a program to find the key with the maximum value in a dictionary.
sample_dict = {"a": 10, "b": 25, "c": 15}
max_key = max(sample_dict, key=sample_dict.get)
print("Key with max value:", max_key)

Key with max value: b

In [ ]:
#6.Write a lambda function to add 15 to a given number.

add15 = lambda x: x + 15
print("Add 15:", add15(10))

Add 15: 25

In [ ]:
#7.Use lambda to find the cube of a number.
cube = lambda x: x**3
print("Cube of 3:", cube(3))

Cube of 3: 27

In [ ]:
#8.Given a list of numbers, use map() and a lambda function to get a list of their cubes.

numbers = [1, 2, 3, 4, 5]
cubes = list(map(lambda x: x**3, numbers))
print("Cubes List:", cubes)

Cubes List: [1, 8, 27, 64, 125]

In [ ]:
#9.Use filter() and lambda to extract numbers divisible by 5 from a list.

nums = [10, 21, 25, 33, 40, 42]
div_by_5 = list(filter(lambda x: x % 5 == 0, nums))
print("Divisible by 5:", div_by_5)

Divisible by 5: [10, 25, 40]

In [ ]:
#10.Sort a list of tuples based on the second item using a lambda function.

tuples = [(1, 3), (2, 1), (4, 2)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])
print("Sorted Tuples:", sorted_tuples)

Sorted Tuples: [(2, 1), (4, 2), (1, 3)]

In [ ]:
#11.Use reduce() and a lambda function to compute the product of a list of numbers.

from functools import reduce
nums = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, nums)
print("Product of Numbers:",product)

Product of Numbers: 120