In [ ]:
#1.Write a program to find the second largest number in a list without using built-in functions like max().

numbers = [10, 20, 5, 8, 30, 20]
largest = numbers[0]
second = numbers[0]
for num in numbers:
    if num > largest:
        second = largest
        largest = num
    elif num > second and num != largest:
        second = num
print("Second largest number:",second)

Second largest number: 20

In [ ]:
#2.How would you remove duplicates from a list while maintaining the original order?

numbers = [1, 2, 2, 3, 4, 4, 5, 1]
new_list = []
for num in numbers:
    if num not in new_list:
        new_list.append(num)
print("List after removing duplicates:",new_list)

List after removing duplicates: [1, 2, 3, 4, 5]

In [ ]:
#3.Write a program to reverse a list in-place without using reverse() or slicing.

numbers = [1, 2, 3, 4, 5]
# swapping first with last, second with second-last, etc.
n = len(numbers)
for i in range(n // 2):
    numbers[i], numbers[n - i - 1] = numbers[n - i - 1], numbers[i]
print("Reversed list:",numbers)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
#4.Given a list of integers, write code to split it into even and odd numbers.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_list = []
odd_list = []
for num in numbers:
    if num % 2 == 0:
        even_list.append(num)
    else:
        odd_list.append(num)
print("Even numbers:", even_list)
print("Odd numbers:",odd_list)

Even numbers: [2, 4, 6, 8]
Odd numbers: [1, 3, 5, 7, 9]

In [ ]:
#5.Given two lists, write a program to find common elements.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common = []
for i in list1:
    if i in list2:
        common.append(i)
print("Common elements:",common)

Common elements: [3, 4, 5]

In [ ]:
#6.Write a program to remove all occurrences of a specific element from a list without using list comprehension.

numbers = [1, 2, 3, 2, 4, 2, 5]
element = 2
while element in numbers:
    numbers.remove(element)

print("List after removing all occurrences:",numbers)

List after removing all occurrences: [1, 3, 4, 5]

In [ ]:
#7.Write a Python program to count frequency of each element in a list.

numbers = [1, 2, 2, 3, 3, 3, 4, 5]
freq = {}
for num in numbers:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1
print("Frequency of elements:",freq)

Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 1, 5: 1}

In [ ]:
#8.Given a list of numbers, find the pair of numbers with the maximum sum.

numbers = [5, 7, 2, 9, 4, 8]
# Sort the list and take the last two numbers
numbers.sort()
pair = (numbers[-1], numbers[-2])
max_sum = numbers[-1] + numbers[-2]
print("Pair with maximum sum:", pair)
print("Maximum sum:",max_sum)

Pair with maximum sum: (9, 8)
Maximum sum: 17

In [ ]:

#9.Write a program to check if a string is a palindrome.

text = "madam"
if text == text[::-1]:
    print(text, "is a palindrome")
else:
    print(text, "is not a palindrome")

madam is a palindrome

In [ ]:
#10.How would you count vowels and consonants in a string?

text = "Hello World"
vowels = "aeiouAEIOU"
v = 0
c = 0
for ch in text:
    if ch.isalpha():
        if ch in vowels:
            v += 1
        else:
            c += 1
print("Vowels:", v)
print("Consonants:",c)

Vowels: 3
Consonants: 7

In [ ]:
#11.Write a function to reverse the words in a sentence. Example: "Hello World" → "World Hello".

text = "Hello World"
words = text.split()
reversed_words = " ".join(reversed(words))
print(reversed_words)

World Hello

In [ ]:
#12.Check if two strings are anagrams of each other.

s1 = "listen"
s2 = "silent"
if sorted(s1) == sorted(s2):
    print("Anagrams")
else:
    print("Not Anagrams")

Anagrams

In [ ]:
#13.Write a function to find the first non-repeating character in a string.

text = "aabbcdeff"
for ch in text:
    if text.count(ch) == 1:
        print("First non-repeating character:", ch)
    break

In [ ]:
#14.Remove all duplicate characters from a string.

text = "programming"
result = ""
for ch in text:
    if ch not in result:
        result += ch

print("String after removing duplicates:",result)

String after removing duplicates: progamin

In [ ]:
#15.Find the most frequent character in a string.

text = "programming"
freq = {}
for ch in text:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1
most_frequent = max(freq, key=freq.get)
print("Most frequent character:",most_frequent)

Most frequent character: r

In [ ]:
#16.Write a program to capitalize the first letter of each word in a sentence.

sentence = "python is fun"
words = sentence.split()
new_sentence = " ".join(word.capitalize() for word in words)
print("Capitalized sentence:",new_sentence)

Capitalized sentence: Python Is Fun

In [ ]:
#17.Write a function to compress a string by replacing repeating characters with count: Example: "aaabbc" → "a3b2c1"

text = "aaabbcddd"
result = ""
count = 1
for i in range(len(text) - 1):
    if text[i] == text[i + 1]:
        count += 1
    else:
        result += text[i] + str(count)
        count = 1
result += text[-1] + str(count)
print("Compressed string:",result)

Compressed string: a3b2c1d3

In [ ]:
#18.Given a string, find the longest word.

sentence = "Python is a powerful programming language"
words = sentence.split()

longest = words[0]
for word in words:
    if len(word) > len(longest):
        longest = word
print("Longest word:",longest)

Longest word: programming

In [ ]:
#19.Create a tuple from input values and unpack it into variables.

my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("a:", a, "b:",b,"c:",c)

a: 10 b: 20 c: 30

In [ ]:
#20.Given a list of tuples, write a program to sort the list by the second element of each tuple.

data = [(1, 3), (2, 1), (4, 2)]
sorted_list = sorted(data, key=lambda x: x[1])
print("Sorted list:",sorted_list)

Sorted list: [(2, 1), (4, 2), (1, 3)]

In [ ]:
#21.How do you concatenate multiple tuples into a single one?

t1 = (1, 2)
t2 = (3, 4)
t3 = (5, 6)
result = t1 + t2 + t3
print("Concatenated tuple:",result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
#22.Write a function that takes a tuple of numbers and returns the sum of all numbers.

def sum_tuple(numbers):
    total = 0
    for n in numbers:
        total += n
    return total
print("Sum of tuple:", sum_tuple((1,2,3,4,5)))

Sum of tuple: 15

In [ ]:
#23.Explain what happens if you try to modify a tuple — write code to show this.

t = (1, 2, 3)
# t[0] = 10  # This will give an error
print("Tuples are immutable, we cannot modify elements.")

Tuples are immutable, we cannot modify elements.

In [ ]:
#24.Given a tuple like (1, [2, 3], 4), try to change the list inside the tuple. What happens?

t = (1, [2, 3], 4)
t[1][0] = 99   # Allowed because list is mutable
print("Modified tuple:",t)

Modified tuple: (1, [99, 3], 4)

In [ ]:
#25.Write a program to remove duplicates from a list of tuples

data = [(1, 2), (3, 4), (1, 2), (5, 6)]
unique = []
for item in data:
    if item not in unique:
        unique.append(item)
print("After removing duplicates:",unique)

After removing duplicates: [(1, 2), (3, 4), (5, 6)]

In [ ]:
#26.Convert a tuple of strings to a single string. Example: ('Hello', 'World') → "Hello World"

t = ("Hello", "World")
result = " ".join(t)
print("Converted string:",result)

Converted string: Hello World

In [ ]:

#27.Given a tuple of numbers, find the maximum and minimum without using max() or min().

numbers = [10, 3, 45, 2, 18]
maximum = minimum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("Maximum:", maximum)
print("Minimum:",minimum)

Maximum: 45
Minimum: 2

In [ ]:
#28.Write a program to find the union, intersection, and difference between two set
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):",set1-set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}

In [ ]:

#29.Given two sets, check whether one is a subset or superset of the other.

a = {1, 2}
b = {1, 2, 3, 4}
print("a is subset of b:", a.issubset(b))
print("b is superset of a:", b.issuperset(a))

a is subset of b: True
b is superset of a: True

In [ ]:
#30.Write a program to remove duplicate elements from a list using a set
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(numbers))
print("List without duplicates:",unique)

List without duplicates: [1, 2, 3, 4, 5]

In [ ]:
#31.Given a string, count the number of unique characters using a set.

text = "programming"
unique_chars = set(text)
print("Unique characters:", unique_chars)
print("Count:", len(unique_chars))

Unique characters: {'n', 'g', 'o', 'p', 'r', 'm', 'i', 'a'}
Count: 8

In [ ]:
#32.Write a program to find common elements between three sets.

s1 = {1, 2, 3, 4}
s2 = {2, 3, 5}
s3 = {2, 3, 6}
common = s1 & s2 & s3
print("Common elements:",common)

Common elements: {2, 3}

In [ ]:
#33.How would you update a set with multiple new values?

s = {1, 2, 3}
s.update([4, 5, 6])
print("Updated set:",s)

Updated set: {1, 2, 3, 4, 5, 6}

In [ ]:
#34.Write code to check whether two sets are disjoint (i.e., no common elements).

a = {1, 2, 3}
b = {4, 5, 6}
print("Are sets disjoint?", a.isdisjoint(b))

Are sets disjoint? True

In [ ]:
#35.Remove an element from a set using both remove() and discard(). Explain the difference.

s = {1, 2, 3}
s.remove(2)   # removes 2
# s.remove(5) #  gives error if element not found
s.discard(5)  #  no error if element not found
print("Final set:",s)

Final set: {1, 3}

In [ ]:
#36.Given a list of strings, use sets to find which strings are completely unique (no repeated letters).

words = ["abc", "hello", "world", "python"]
unique_strings = []
for word in words:
    if len(set(word)) == len(word):
        unique_strings.append(word)
print("Completely unique strings:",unique_strings)

Completely unique strings: ['abc', 'world', 'python']

In [ ]:

#37.Create two sets: one from vowels in a string, and another from consonants — then print both.

text = "programming"
vowels = set("aeiou")
text_set = set(text)
vowel_set = text_set & vowels
consonant_set = text_set - vowels
print("Vowels:", vowel_set)
print("Consonants:",consonant_set)

Vowels: {'o', 'a', 'i'}
Consonants: {'n', 'g', 'p', 'r', 'm'}