In [ ]:
#Ques.1. Print numbers from 1 to 10. If a number is even, break the loop using a for loop and else clause.

for i in range(1, 11):
    if i % 2 == 0:
        print("Even number found:", i)
        break
    print(i)
else:
    print("Loop finished without break")

1
Even number found: 2

In [ ]:
#Ques.2. Print numbers from 1 to 5, except 3 using a for loop and continue statement.

for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [ ]:
#Ques.3. Print numbers in a list until a negative number is encountered using a while loop.

numbers = [5, 8, 12, -3, 9, 10]
i = 0
while i < len(numbers):
    if numbers[i] < 0:
        break
    print(numbers[i])
    i+=1

5
8
12

In [ ]:
#Ques.4. Find the common elements in two lists using a for loop.                  list1 = [1,2,3,4,5]
# list2 = [3,4,5,6,7]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common = []
for i in list1:
    if i in list2:
        common.append(i)
print("Common elements:",common)

Common elements: [3, 4, 5]

In [ ]:
#Ques.5. Print the Fibonacci sequence up to the 10th term using a while loop.

a, b = 0, 1
count = 0
while count < 10:
    print(a, end=" ")
    a, b = b, a + b
    count+=1

0 1 1 2 3 5 8 13 21 34

In [ ]:
#Ques.6. Print numbers divisible by 3 or 5 from 1 to 20 using a for loop.

for i in range(1, 21):
    if i % 3 == 0 or i % 5 == 0:
      print(i)

3
5
6
9
10
12
15
18
20

In [ ]:
#Ques.7. Find all prime numbers between 1 and 50 using nested for and if.

for num in range(2, 51):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
#Ques.8. Find the first occurrence of a number in a list using a while loop.

numbers = [4, 7, 2, 7, 9, 7]
target = 7
i = 0
while i < len(numbers):
    if numbers[i] == target:
        print("First occurrence at index:", i)
        break
    i+=1

First occurrence at index: 1

In [ ]:
#Ques.9. Calculate factorial of a number using a while loop.

num = 5
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print("Factorial of", num,"is",fact)

Factorial of 5 is 120

In [ ]:
#10.(1)
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#10.(2)
rows = 5
for i in range(rows, 0, -1):
    print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
#10.(3)
rows = 6
for i in range(1, rows + 1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *