In [ ]:
#1.Write a function that accepts a list of numbers and returns a new list with only even numbers.

def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

print( get_even_numbers([1, 2, 3, 4, 5, 6]))

[2, 4, 6]

In [ ]:
#2.Create a function to calculate the factorial of a given number without using recursion.

def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print( factorial(5))

120

In [ ]:
#3.Write a function that takes a sentence as input and returns the number of vowels in it.

def count_vowels(sentence):
    vowels = "aeiouAEIOU"
    return sum(1 for ch in sentence if ch in vowels)

print( count_vowels("Hello World"))

3

In [ ]:
#4.Implement a function that receives a list of strings and returns a dictionary with word lengths as keys and words of that length as values.

def words_by_length(words):
    result = {}
    for word in words:
        result.setdefault(len(word), [ ]).append(word)
    return result

print(words_by_length(["hi", "hello", "bye", "yes"]))

{2: ['hi'], 5: ['hello'], 3: ['bye', 'yes']}

In [ ]:
#5.Define a function that accepts a list of integers and returns the second highest number.

def second_highest(nums):
    unique_nums = list(set(nums))
    unique_nums.sort()
    return unique_nums[-2] if len(unique_nums) >= 2 else None

print(second_highest([10, 20, 4, 45, 99, 99]))

45

In [ ]:
#6.Write a program that takes two numbers as input and divides them. Handle the case when the denominator is zero.

def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return "Error: Division by zero not allowed"

print(safe_divide(10, 2))
print(safe_divide(5, 0))

5.0
Error: Division by zero not allowed

In [ ]:
#7.Create a calculator using functions for add, subtract, multiply, and divide. Handle invalid inputs.

def add(a, b): return a + b
def subtract(a, b): return a - b
def multiply(a, b): return a * b
def divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return "Error: Division by zero"

print(add(5, 3), subtract(5, 3), multiply(5, 3), divide(5, 0))

8 2 15 Error: Division by zero

In [ ]:
#8.You are reading a file line by line. Write a function that safely reads the file and prints lines, handling errors.

def safe_read_file(filename):
    try:
        with open(filename, "r") as file:
            for line in file:
                print(line.strip())
    except FileNotFoundError:
        print("Error: File Not Found")
    except PermissionError:
        print("Error: Permission Denied")

In [ ]:
#9.Write a function to convert a string to an integer. Use try-except to handle invalid inputs.

def str_to_int(s):
    try:
        return int(s)
    except ValueError:
        return "Error: Invalid integer input"

print( str_to_int("123"))
print( str_to_int("abc"))

123
Error: Invalid integer input

In [ ]:
#10.Given monthly sales in a list, calculate total annual sales.

def total_sales(sales):
    return sum(sales)

print( total_sales([100, 200, 150, 175, 120, 300]))

1045

In [ ]:
#11.Find the average score in a list of student scores, excluding empty cells.

def average_score(scores):
    valid_scores = [s for s in scores if s is not None]
    return sum(valid_scores) / len(valid_scores) if valid_scores else 0

print(average_score([80, 90, None, 70, 100]))

85.0

In [ ]:
#12.String Task: Extract first name from full names.

def extract_first_names(names):
    return [name.split()[0] for name in names]

print(extract_first_names(["Neha Mishra", "Anjana mohan", "Bobby singh"]))

['Neha', 'Anjana', 'Bobby']

In [ ]:
#13.Extract domain names from email addresses.

def extract_domains(emails):
    return [email.split("@")[1] for email in emails]

print(extract_domains(["nehasd@gmail.com", "pooja@gmail.com"]))

['gmail.com', 'gmail.com']

In [ ]:
#14.Concatenate first name in Column A and last name in Column B with a hyphen, in uppercase.

def concat_names(first_names, last_names):
    return [f"{f}-{l}".upper() for f, l in zip(first_names, last_names)]

print(concat_names(["John", "Alice"], ["Doe", "Smith"]))

['JOHN-DOE', 'ALICE-SMITH']